[mysqld]
event_scheduler=on
general_log = 1
general_log_file = /var/lib/mysql/general.log

skip-grant-tables

socket=/var/lib/mysql/mysql.sock 

#bind-address = 127.0.0.1

sql_mode = "STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
 
[client]
 
socket=/var/lib/mysql/mysql.sock
